html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(188, 188, 188));
  background-size: 100%;
  background-position: top;
  min-height: 100%;
}

.ReactTable .rt-thead {
  font-size: 16px;
  font-weight: 600;
}
.ReactTable .rt-tbody .rt-td {
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.8);
  border-left: 0.5px solid rgba(200, 200, 200, 0.8);
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

form button, form h5{
  margin: 20px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
